@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap");

body {
    margin: 0px;
    padding: 0px;
    background: #1e1e1e;
}

.nav-item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 20px 130px;
    line-height: 81.9%;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
}

.divider {
    width: auto;
    height: 0;
    border: 1px solid #7d7d7d;
}

.about {
    display: flex;

    &__left {
        max-width: 400px;
        margin-left: 130px;
        margin-top: 25px;
        color: #fff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 130.02%;
    }

    &__right {
        margin-top: 47px;
        margin-left: 680px;
    }

    &__title {
        text-align: center;
        margin: 50px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        font-size: 200px;
        line-height: 81.9%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #fff;
    }

    &__subtitle {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 81.9%;
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-left: 550px;
        color: #ffffff;
    }

    &__bottom {
        position: absolute;
        top: 256px;
        left: 130px;
    }

    &__face {
        width: 1660px;
    }
}
