@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap");

body {
    margin: 0px;
    padding: 0px;
    background: #131313;
}


.text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    line-height: 81.9%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.divider {
    width: auto;
    height: 0;
    border: 1px solid #7d7d7d;
}

.about {
    display: flex;

    &__image {
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 200px;
        margin-top: 73px;
    }

    &__subtitle {
        font-size: 40px;
        padding-bottom: 40px;
    }

    &__face {
        width: 1660px;
    }
}
